openapi: 3.1.0
info:
  title: Cerniq Cognitive Brain v2 API
  version: 1.0.0
  description: |
    Contract REST + convenții SSE. Ingress HTTPS via Traefik (stacks-02) pe orchestrator.
    Căi efective în `apps/api` — acest fișier trebuie păstrat sincron la schimbarea rutelor.
servers:
  - url: https://api.v2.cerniq.app
    description: Producție (Cloudflare opțional → Traefik :443 → upstream :25010)
paths:
  /health:
    get:
      summary: Liveness
      operationId: health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /ready:
    get:
      summary: Readiness (extensibil DB/Redis)
      operationId: ready
      responses:
        '200':
          description: Gata
          content:
            application/json:
              schema:
                type: object
                properties:
                  ready:
                    type: boolean
        '503':
          description: Nepregătit
  /metrics:
    get:
      summary: Prometheus metrics (scraping intern / rețea observability)
      operationId: metrics
      responses:
        '200':
          description: text/plain Prometheus
  /v1/me:
    get:
      summary: Profil utilizator autentificat (JWT / dev tenant header)
      operationId: me
      parameters:
        - name: X-Tenant-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Profil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeProfile'
        '401':
          description: Neautentificat
        '403':
          description: Tenant lipsă sau nepotrivire JWT
  /v1/cognitive/hello:
    get:
      summary: Status sintetic Brain (demo)
      operationId: cognitiveHello
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CognitiveHello'
  /v1/cognitive/stream:
    get:
      summary: SSE telemetrie Brain
      operationId: cognitiveStream
      responses:
        '200':
          description: text/event-stream
          content:
            text/event-stream:
              schema:
                type: string
  /v1/llm/health:
    get:
      summary: Health rutare LLM + verificare cotă (fără apel model)
      operationId: llmHealth
      parameters:
        - name: X-Tenant-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Endpoint guard rezolvat + cotă OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LlmHealth'
        '400':
          description: Tenant lipsă
        '429':
          description: Cotă LLM depășită
        '502':
          description: Upstream indisponibil
  /v1/webhooks/inbound:
    post:
      summary: Webhook inbound (HMAC + idempotency)
      operationId: webhookInbound
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            description: Recomandat UUID; minim 8 caractere (validare runtime)
        - name: X-Cerniq-Signature
          in: header
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Acceptat
        '400':
          description: Idempotency-Key invalid
        '401':
          description: Semnătură invalidă
        '503':
          description: Secret webhook neconfigurat
        '409':
          description: Idempotency replay
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code:
              type: string
            message:
              type: string
            request_id:
              type: string
            details:
              type: array
              items: {}
    CognitiveHello:
      type: object
      properties:
        message:
          type: string
        service:
          type: string
    MeProfile:
      type: object
      properties:
        tenant_id:
          type: string
        subject:
          type: string
        chapters:
          type: array
          items:
            type: string
    LlmHealth:
      type: object
      properties:
        guard_endpoint:
          type: string
        tenant_id:
          type: string
        quota:
          type: string
    BrainCrossEntityRefs:
      type: object
      description: |
        ID-uri încrucișate business ↔ Brain (blueprint §25). UI le propagă ca query params pe rutele `/brain/*`;
        backend poate include același set în payload-uri JSON pentru deep-link deterministe.
      properties:
        trace_id:
          type: string
          description: Identificator trace (`?trace=`).
        gateway_id:
          type: string
          description: Identificator gateway (`?gateway=`).
        neuron_id:
          type: string
          description: Identificator neuron manifest (`?neuron=`).
        synapse_id:
          type: string
          description: Identificator sinapsă (`?synapse=`).
        workflow_run_id:
          type: string
          description: Identificator run workflow (opțional; extensie contract).
        tenant_id:
          type: string
          format: uuid
      additionalProperties: false
    BrainOverviewUiQuery:
      type: object
      description: |
        Parametri suplimentari pentru `/brain/overview` — focalizare UI.
      properties:
        cerniq_focus:
          type: string
          enum: [neuron_explanation]
          description: Deschide panoul de explicație neuron (deep-link din Analytics / CRM / Sales).
      additionalProperties: false
