# Dependencies
node_modules/
.pnpm-store/

# Build / cache
.nx/
dist/
tmp/
.next/
out/
coverage/

# Env & secrets
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

test-output

# Next.js
.next
out
